@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 0px 120px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100vw;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px 80px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px rgba(78, 78, 78, 0.3);
  z-index: 999;
  position:sticky;
  top: 0; 
  width: 100%;

}

#header .logo {
  height: 70px;

}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#navbar li {
  list-style: none;
  padding: 0px 20px 0px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(0, 0, 0);
  font-weight: 200;
}

#navbar li a::after {
  content: '';
  background-color: rgb(134, 134, 134);
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -4px;
  left: 20px;
  transition: 0.4s ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  width: 30%;
}

#hero{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  
}
#hero h1{
  font-size: 18rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hero .sub-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
#hero .sub-text h4{
  color: #777777;
  font-weight: 400;

}
#hero .img-container{
  height: 80vh;
  width: 100%;
  background-image: url("img/hero/5mzhRAQ7CsU20Dny43LOwWUUxFY.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 40px;
  filter: grayscale(80%);
}
#about{
  margin-top: 20vh;
  background-color: black;
  display: flex;
  justify-content: center;
  
}
#about .about-container{
  width: 80%;
}
#about h2{
  color: white;
  padding-top: 10vh;
}
#about h6,#about p{
  color: white;
  padding: 2.5vh 0px;
}

#event {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  background-color: #c17a01;
}
#event .event-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  

}
#event .event-container h2{
  padding: 20vh 20vh;

}
#event .event-container .img-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  width: 80vw;
  height: 100vh;
  gap: 40px;
}
#event .img-container .image{
  
  width: 25%;
  height: 45%;
  overflow: hidden;
  border-radius: 40px;
}

#event .img-container .image img{
  /* filter: invert(88%) sepia(18%) saturate(6349%) hue-rotate(332deg) brightness(100%) contrast(96%); */
  /* opacity: 0.8; */
  filter: grayscale(100%) sepia(100%);
  height: 50vh;
  /* width: 35vh; */
  
}
#material{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c17a01;
}
#material .material-container{
  margin-top: 20vh;
  width: 80%;
  margin-bottom: 15vh;

}
#material .material-container .container{
  display: flex;
  justify-content: space-between;

}
#material .material-container p{
  color: white;
  width: 45%;
  font-size: 18px;
  padding: 40px 0px;

  
}
#projects{
  background-color: #c17a01;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#projects .container{
  width: 80%;
  margin-top: 10vh;
  margin-bottom: 15vh;
}
#projects .container p{
  color: white;
  font-size: 18px;
  width: 70%;
  padding: 40px 0px;
  
}
footer{
  background-color: black;
}
footer .footer-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  

  
}


footer .footer-container .info img{
  height: 100px;
}
footer .footer-container .info{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0px;
}
footer .footer-container .follow{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 120px 0px;
}
footer .footer-container .about{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 120px 0px;
}
footer .footer-container .about a{
  color: white;
  text-decoration: none;
  padding: 10px 0px;
}
footer .footer-container h4,footer .footer-container p{
  color: white;
  text-decoration: none;
  padding: 10px 0px;
}
footer .footer-container i{
  color: white;
  text-decoration: none;
  padding: 10px 0px;
}



